@font-face {
  font-family: "FuturaBT";
  src: url('fonts/futura_PT.ttf')
}


* {
  font-family: 'Poppins';
  color: #fff;
}

h2, h3, h4 {
  font-family: "FuturaBT";
}


.container {
  max-width: 1430px;
  margin: 0 auto;
}

.main-btn {
  border-radius: 5px;
  background-image: linear-gradient(to right, #00bfff 0%, #007ddb 100%);
  padding: 10px 20px;
  min-width: 120px;
}

.main-title {
  text-align: center;
  font-size: 7vw;
  line-height: 8vw;

}

.main-section {
  padding-bottom: 20px;

  .description {

    .main-title {
      letter-spacing: 0.48px;
      padding: 14px 10px 0;
    }

    &__body {
      padding: 0 10px;
    }

    &__subtitle {
      margin: 10px auto;
      font-size: 4vw;
      font-weight: 400;
      line-height: 20px;

      letter-spacing: 0.4px;
    }

    .search-panel {
      display: flex;
      justify-content: center;
      position: relative;

      .main-btn {
        width: 43%;
      }

      &__input {
        background: #5543cd;
        border-radius: 5px 0 0 5px;
        width: 100%;
        padding-left: 25px;
        font-size: 3vw;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0.35px;

        &::placeholder {
          opacity: 0.5;
          color: #fff;
          font-size: 3vw;
          font-weight: 400;
          line-height: 36px;
          letter-spacing: 0.35px;
        }
      }

      &__icon {
        position: absolute;
        font-size: 10px;
        top: calc(50% - 5px);
        left: 10px;
        color: #60daff;
      }

    }

    &__text {
      font-size: 4vw;
      font-weight: 500;
      line-height: 20px;
      margin: 5px auto 10px;

    }
  }
}

.header {
  background-image: url(img/header-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 300px;


  .header__top {
    margin: 0 0 10px;
    padding: 30px 0 0;

    .logo {
      &__img {
        display: block;
        margin: 0 auto;
      }
    }

    .menu {
      min-width: 320px;
      background: #414dbc;
      width: 100vw;
      position: fixed;
      top: 0;
      right: 0;
      opacity: 0.9;
      border-radius: 0 0 30px 30px;
      z-index: 1;

      &__links {
        margin: 30px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &__link {
        font-size: 18px;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: 0.45px;
        text-align: center;
        padding: 0 5px;

        &:hover {
          border-radius: 5px;
          background-image: linear-gradient(to right, #00bfff 0%, #007ddb 100%);
        }
      }

      &__link_icon {
        position: absolute;
        top: 25px;
        right: 25px;
        font-size: 35px;
      }

    }

    .close {
      background: none;
      //height: 0;

      .menu__link {
        display: none;
      }
    }

    .hide {
      top: -220px;
    }

    .close {

    }

  }

  .main-btn {
    border-radius: 0 5px 5px 0;
    background-image: linear-gradient(to right, #00bfff 0%, #007ddb 100%);
    padding: 10px 20px;
  }


  .weather {
    display: flex;
    flex-direction: column;
    background: #3d12b3;
    padding: 0 0 10px;
    width: 90%;
    margin: 0 auto;

    &__header {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      margin: 0 0 10px;
      background: #471eb8;
    }

    &__header-body {
      margin: 0 0 0 10px;
    }

    &__title {
      opacity: 0.92;
      font-size: 4vw;
      font-weight: 500;
      line-height: 5vw;
      text-transform: uppercase;
      letter-spacing: 1.4px;
    }

    &__subtitle {
      margin: 5px 0 0 0;
      font-family: Poppins;
      font-size: 3vw;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: 0.5px;
    }

    &__info {
      display: flex;
      flex-direction: column;
    }

    &__temp {
      background: #471eb8;
      margin: 0 0 10px;

      .overlay {
        background: url(img/temp-bg.png) no-repeat center;
        background-size: contain;
      }

      .temp-value {
        padding: 20px 0 10px;
        font-size: 15vw;
        text-align: center;
      }

      .about-weather {
        text-align: center;
        padding: 0 0 10px;
        text-transform: uppercase;
      }

      .weather-description__title {
        font-weight: 500;
      }
    }

    &__other-data {
      background: #471eb8;
      display: flex;
      flex-direction: column;
      padding: 10px;
    }

    &__indicators {
      display: flex;
      justify-content: space-around;
      align-items: stretch;
    }

    &__indicator {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .type {
        margin: 0 0 5px;
      }

      .value {
        font-size: 4vw;
        letter-spacing: 2.4px;

      }

      span {
        font-weight: 500;
        letter-spacing: 1.1px;
      }
    }

    &-description {
      font-family: Arial;

      &__title {
        margin: 20px 0 5px;
        text-align: center;
        font-size: 5vw;
      }

      &_text {
        opacity: 0.8;
        font-family: Arial;
        font-size: 4vw;
        line-height: 20px;
      }
    }
  }

}

.main {
  min-width: 300px;
  background: #2d0aa1;

  .main-btn {
    margin: 0 auto 10px;
  }

  .description__body {
    display: flex;
    flex-direction: column;
  }

  .laptop {
    display: flex;
    justify-content: center;

    &__img {
      width: 80%;
    }
  }

  .faq {
    .main-title {
      padding: 20px 0;
    }

    .accordions {
      width: 90%;
      margin: 0 auto;
      max-width: 1169px;

      .accordion {
        padding: 10px 10px;
        margin: 10px 0;
        border-radius: 5px;
        border: 1px solid #5239af;


        &__header {
          opacity: 0.9;
          font-family: Poppins;
          font-size: 5vw;
          font-weight: 500;
          line-height: 30px;
          position: relative;
          cursor: pointer;
          padding: 0 25px 0 0;

          &::after {
            content: "";
            background-image: url(img/down_arrow.png);
            background-repeat: no-repeat;
            width: 20px;
            height: 12px;
            display: block;
            position: absolute;
            top: calc(50% - 6px);
            right: 5px;

          }
        }

        &__text {
          opacity: 0.8;
          font-family: Poppins;
          font-size: 4vw;
          line-height: 30px;
          display: none;
          padding: 10px 0;
        }

      }

      .show {
        background-image: linear-gradient(-70deg, #210594 0%, #4114b8 100%);

        .accordion__text {
          display: block;
        }

        .accordion__header:after {
          background-image: url(img/top_arrow.png);
        }
      }
    }
  }

  .partners {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 0;

    img {
      cursor: pointer;
    }
  }
}

.footer {
  min-width: 300px;
  padding: 20px 0;
  display: flex;
  background-image: linear-gradient(to bottom, #210594 0%, #4114b8 100%);
  opacity: 0.8;

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    .footer__text {
      font-family: Roboto;
      font-size: 14px;
      font-weight: 500;
      line-height: 28px;
      letter-spacing: 0.14px;
      padding: 0 0 0 10px;

      .author {
        color: #0cb1f9;
        letter-spacing: 0.14px;
        text-transform: uppercase;
      }
    }

    .social-icons {
      display: flex;
      justify-content: space-between;

      img {
        cursor: pointer;
        padding: 0 10px;
      }
    }
  }

  .chat {
    position: fixed;
    bottom: 0;
    right: 0;
    cursor: pointer;
  }
}


@media all and (min-width: 480px) {
  .main-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    .description {
      max-width: 600px;

      &__subtitle {
        width: 88%;
        font-size: 16px;
        line-height: 32px;
      }

      &__text {
        margin: 10px auto 15px;
        width: 88%;
        font-size: 16px;
      }


      .search-panel__input {
        padding: 5px 0 5px 30px;
        font-size: 14px;

        &::placeholder {
          font-size: 14px;
        }
      }
    }

    .weather-description__text {
      width: 88%;
      margin: 0 auto;
      line-height: 20px;
      line-height: 20px;
    }
  }


  .main {
    .faq {
      .accordions {
        .accordion__header {
          font-size: 18px;
        }

        .accordion__text {
          font-size: 15px;
        }
      }
    }


    .partners {
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
}


@media all and (min-width: 600px) {

  .main-btn {
    font-size: 18px;
    cursor: pointer;
  }
  .main-title {
    font-size: 48px;
    padding-bottom: 50px;
  }

  .header {

    .weather {

      &__title {
        font-size: 28px;
      }

      &__subtitle {
        font-size: 20px;
      }

      &__temp {

        .about-weather {
          font-size: 20px;
          text-transform: uppercase;
        }
      }


      &__measure {
        font-size: 22px;
      }

      &-description__title {
        font-size: 18px;
      }

      &-description__text {
        font-size: 14px;
        max-width: 380px;
      }

      &__around-value {
        display: flex;
        align-items: flex-end;
      }
    }
  }

  .footer {
    .container {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}


@media all and (min-width: 768px) {

  .main-title {
    margin-top: 20px;
    line-height: 60px;
  }

  .main-section {
    .description {
      padding-left: 10px;

      &__body {
        padding: 0;
      }

      .search-panel__input {
        padding: 22px 0 22px 65px;
        max-width: 543px;
      }

      .search-panel__icon {
        font-size: 30px;
        top: calc(50% - 15px);
        left: 30px
      }

    }
  }

  .header {

    .header__top {
      display: flex;
      align-items: flex-start;
      padding-left: 25px;

      .menu {
        background: inherit;
        max-width: 580px;
        right: 25px;
        top: 20px;

        &__links {
          flex-direction: row;
          margin: 0;
          justify-content: flex-end;
        }

        &__link {
          display: block;
          padding: 10px 15px;
        }

        &__link_icon {
          display: none;
        }
      }

      .hide {
        top: -100px;
      }

      .close {
        .menu__link {
          display: block;
        }
      }
    }


    .main-btn {
      font-size: 20px;
      padding: 10px 17px;
    }

    .weather {
      max-width: 800px;

      &__header {
        justify-content: flex-start;
        padding: 15px 0 20px 22px;
      }

      &__info {
        flex-direction: row;
        justify-content: center;
      }

      &__indicator {
        justify-content: flex-start;

        .value {
          padding-left: 20px;
          font-size: 48px;
        }
      }

      &__temp {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45%;
        max-width: 300px;

        .temp-value {
          font-size: 85px;
          padding: 94px 54px 20px 40px;
        }
      }

      &__other-data {
        margin-left: 12px;
        justify-content: space-around;
        padding: 28px 16px 19px 25px;

        .weather__indicators {
          flex-direction: column;
          justify-content: space-around;
          max-width: 412px;
          width: 54%;

          .weather__indicator {
            flex-direction: row;
            padding-bottom: 33px;
          }
        }

      }

      &-description__title {
        text-align: left;
      }

      &-description__text {
        text-align: left;
        margin: 0;
      }
    }

  }

  .weather__info {
    display: flex;
  }

  .main {
    .main-btn {
      margin: 20px auto 40px;
      padding: 23px 64px;
      font-size: 22px;
    }
  }
}

@media all and (min-width: 900px) {
  .header {
    .weather__title {
      line-height: 74px;
    }
  }
  .main-section {
    .description__subtitle {
      margin: 0;
      padding: 30px 0 49px;
    }

    .description__text {
      margin: 0;
      padding: 30px 0;
      line-height: 30px;
    }
  }
}


@media all and (min-width: 1200px) {
  .main-section {
    padding-top: 100px;
    flex-direction: row;

    .description {
      .main-title {
        text-align: left;
        padding: 14px 0;
      }
    }

  }

  .header {
    height: 100vh;

    .description {
      width: 42%;
    }

    .weather {
      width: 55%;
    }
  }

}

@media all and (min-width: 1430px) {
  .header {
    .header__top {
      .menu {
        right: calc((100vw - 1430px) / 2);
      }
    }
  }

}

